@for (item of playersHitters; track $index) {

    @if(item.name ){<div class="card">
      <div class="nameWrapper">
        <span class="name">{{ item.name }}</span>
        <span class="team">{{ item.team }}</span>
        <span class="game">{{ item?.game?.awayName }} at {{ item?.game?.homeName }} {{ item?.game?.hour }}</span>
      </div>
      <div class="">
        <app-odds [odds]="item.odds" [cover]="item.cover"></app-odds>
        <div class="vsPitcherWrapper">
          @if(item.rivalAvg !== "" ){<div class="vsPitcherItem" [ngClass]="{'oddCoverTitle' : item.rivalAvg > .280}">
            <span>{{item.rival}}</span>
            <span>{{item.rivalAvg}}</span>
          </div>}
          <div class="vsPitcherItem" [ngClass]="{'oddCoverTitle' : item.rivalThrowAvg > .280}">
            <span>{{item.rivalThrow}}</span>
            <span>{{item.rivalThrowAvg}}</span>
          </div>
        </div>
      </div>
    </div>
  }
}


