.horizontal-scroll-wrapper-web{
  max-width: 85vw;
  height: 250px;
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.horizontal-scroll-wrapper-web > div {
  flex: 0 0 auto;
}
.gamesCard{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 40vw;
}
.gamesCard  div{
  padding: 10px;
}
.gamesCardTitle{
  font-weight: bold;
  font-size: 18px;
}
.gamesCardSubtitle{
font-size : 13px;
}
.oddWrapper{
  display: flex;
  min-width: 50vw;
  align-items: center;
  justify-content: center;
}

.oddsCard{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  width: 180px;
  text-align: center;
  border-radius: 20px;
}
.oddsItem{
  margin: 5px;
}

.card{
  border: 1px solid;
  display: flex;
}

.cardName{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15vw;
  text-align: center;
}
.dataWrapper{
  width: 100%;
}
.gameItem{
  margin: 5px;
}
.playerVsWrapper{
  display: flex;
  flex-direction: row;
}
.playerVersusCard{
  width: 75px;
  display: flex;
  flex-direction: column;
}
.cover{
  background-color: white;
  color: #A1BB94;
  padding: 2px 7px;
  border-radius: 20px;
}
.playerWrapper{
display: flex;
flex-direction: row;
justify-content: center;
}
.playerCard{
  display: flex;
  flex-direction: column;
  width: 150px;
  border: 1px solid black;
  margin: 0px 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 160px;
  padding: 5px;
  border-radius: 20px;
}
.playerCardName {
  display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.oddsWrapper{
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-evenly
}
.playerVs{
  display: flex;
  flex-direction: column;
}
.playerCardVs{
  display: flex;
  flex-direction: row;
  width: 150px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  justify-content: space-evenly;
}
.nameWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nameWrapper h5{
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
}

.oddsItemWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;

}
.name{
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.team{
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}
.game{
  font-size: 15px;
  font-weight: bold;
  text-align: right;
}
.buttonWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  width: 250px;
  height: 100vh;
  position: sticky;
  left: 0;
}
.sidebar{
background-color: white;
width: max-content;
height: max-content;
border-radius: 10px;
padding: 2rem 1rem;
}
.sidebar__list{
  list-style: none;
  padding: 0;

  min-height: 600px;
  display: flex;
  flex-direction: column;
  gap: .4rem;
}
.sidebar__element{
  padding: .8rem 1.3rem;
   display: grid;
  grid-template-columns: 80px;
  justify-items: center;
  color: green;
  transition: grid-template-columns .4s;
}
.oddCover{
  background-color: white;
  color: #A1BB94;
  padding: 2px 7px;
  border-radius: 20px;
}
.oddTitle{
  display: flex;
  background-color: gray;
  color: #A1BB94;
  padding: 3px 10px;
  border-radius: 20px 19px 0px 0px;
  width: 100%;
  height: 25px;
  align-items: center;
  justify-content: center;
}
.oddCoverTitle{
    background-color: white;
    color: #A1BB94;
}
.oddsCardVs{
 display: flex;
 flex-direction: column;
 margin: 10px ;
 width: 100%;
 div {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  justify-items: center;
 }
}
.buttonWrapper2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 20px;
  position: sticky;
  top: 0;
  div{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  };
}
.active{
  background-color: #024A3E;
  color: antiquewhite;
  border-radius: 20px 20px 0 0;
}
.sticky{
  position: sticky;
  top: 0;
}

.sidebar__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
  img{
    max-width: 30px;
    margin: 0 5px;
  }
}
.sidebar__hide{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainWrapper{
  display: flex;
}