<div class="buttonWrapper">
  <div (click)="setView('Hitters')" >Hitters</div>
  <div (click)="setView('Pitchers')" >Pitchers</div>
</div>

@if (view === "Hitters"){<app-hitter-hit [playersHitters]="playersHitters"></app-hitter-hit>}
@if (view === "Pitchers"){
@for (item of playersVersus; track item.name) {

  @if(item.games){
    <div
    class="">
      <div class="nameWrapper">
      <span class="name">{{ item.name }}</span>
      <span class="team">{{ item.team }}</span>
      <span class="game">{{ item?.game?.awayName }} at {{ item?.game?.homeName }} {{ item?.game?.hour }}</span>
      </div>
    <div>


      <div class="horizontal-scroll-wrapper-web">
      @for (item of item.odds; track item.market){
        <div class="oddsCard">
          <span>{{ item?.market   }}</span>
          <span>{{ item?.line   }}</span>
          <div>
            <span >{{ item?.overOdd  }}</span>
            <span >{{ item?.underOdd  }}</span>
          </div>
        </div>
       }
      </div>
    <div class="horizontal-scroll-wrapper-web">
      <div class="oddsCard">
        <div class="gamesCard">
          <span class="gamesCardTitle">StrikeOuts</span>
          <span class="gamesCardSubtitle">Ultimos 5 juegos</span>
          <div>
            <span class="gameItem">{{ item?.games?.game1?.strikeOuts}}</span>
            <span class="gameItem">{{ item?.games?.game2?.strikeOuts2}}</span>
            <span class="gameItem">{{ item?.games?.game3?.strikeOuts3}}</span>
            <span class="gameItem">{{ item?.games?.game4?.strikeOuts4}}</span>
            <span class="gameItem">{{ item?.games?.game5?.strikeOuts5}}</span>
          </div>
        </div>
        <div class="gamesCard">
          <span class="gamesCardSubtitle">Ultimos 5 juegos vs {{item.rival}}</span>
          <div>
            <span class="gameItem">{{ item?.gamesvS?.game1?.strikeOuts}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game2?.strikeOuts2}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game3?.strikeOuts3}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game4?.strikeOuts4}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game5?.strikeOuts5}}</span>
          </div>
        </div>
      </div>
      <div class="oddsCard">
        <div class="gamesCard">
        <span class="gamesCardTitle">Walks</span>
          <span class="gamesCardSubtitle">Ultimos 5 juegos</span>
          <div>
            <span class="gameItem" >{{ item?.games?.game1?.baseXBola}}</span>
            <span class="gameItem" >{{ item?.games?.game2?.baseXBola2}}</span>
            <span class="gameItem" >{{ item?.games?.game3?.baseXBola3}}</span>
            <span class="gameItem" >{{ item?.games?.game4?.baseXBola4}}</span>
            <span class="gameItem" >{{ item?.games?.game5?.baseXBola5}}</span>
          </div>
        </div>
        <div class="gamesCard">
          <span class="gamesCardSubtitle">Ultimos 5 juegos vs {{item.rival}}</span>
          <div>
            <span class="gameItem" >{{ item?.gamesvS?.game1?.baseXBola}}</span>
            <span class="gameItem" >{{ item?.gamesvS?.game2?.baseXBola2}}</span>
            <span class="gameItem" >{{ item?.gamesvS?.game3?.baseXBola3}}</span>
            <span class="gameItem" >{{ item?.gamesvS?.game4?.baseXBola4}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game5?.baseXBola5}}</span>
          </div>
        </div>
      </div>
      <div class="oddsCard">
        <div class="gamesCard">
          <span class="gamesCardTitle">Carreras Limpias</span>
          <span class="gamesCardSubtitle">Ultimos 5 juegos</span>
          <div>
            <span class="gameItem" >{{ item?.games?.game1?.earnedRuns}}</span>
            <span class="gameItem" >{{ item?.games?.game2?.earnedRuns2}}</span>
            <span class="gameItem" >{{ item?.games?.game3?.earnedRuns3}}</span>
            <span class="gameItem" >{{ item?.games?.game4?.earnedRuns4}}</span>
            <span class="gameItem" >{{ item?.games?.game5?.earnedRuns5}}</span>
          </div>
        </div>
        <div class="gamesCard">
          <span class="gamesCardSubtitle">Ultimos 5 juegos vs {{item.rival}}</span>
          <div>
            <span class="gameItem" >{{ item?.gamesvS?.game1?.earnedRuns}}</span>
            <span class="gameItem" >{{ item?.gamesvS?.game2?.earnedRuns2}}</span>
            <span class="gameItem" >{{ item?.gamesvS?.game3?.earnedRuns3}}</span>
            <span class="gameItem" >{{ item?.gamesvS?.game4?.earnedRuns4}}</span>
            <span class="gameItem" >{{ item?.gamesvS?.game5?.earnedRuns5}}</span>
          </div>
        </div>
      </div>
      <div class="oddsCard">
        <div class="gamesCard">
          <span class="gamesCardTitle">Hits permitidos</span>
          <span class="gamesCardSubtitle">Ultimos 5 juegos</span>
          <div>
            <span class="gameItem" >{{ item?.games?.game1?.hitsAllowed}}</span>
            <span class="gameItem" >{{ item?.games?.game2?.hitsAllowed2}}</span>
            <span class="gameItem" >{{ item?.games?.game3?.hitsAllowed3}}</span>
            <span class="gameItem" >{{ item?.games?.game4?.hitsAllowed4}}</span>
            <span class="gameItem" >{{ item?.games?.game5?.hitsAllowed5}}</span>
          </div>
        </div>
        <div class="gamesCard">
          <span class="gamesCardSubtitle">Ultimos 5 juegos vs {{item.rival}}</span>
          <div>
            <span class="gameItem">{{ item?.gamesvS?.game1?.hitsAllowed}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game2?.hitsAllowed2}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game3?.hitsAllowed3}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game4?.hitsAllowed4}}</span>
            <span class="gameItem">{{ item?.gamesvS?.game5?.hitsAllowed5}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="horizontal-scroll-wrapper-web">
      @for (item of item.players; track item.name){
        @if(item.odds[0] && item.vsPitcherThrow.avg)  {
          <div class="playerCard" [ngClass]="item?.vsPitcher?.avg > .250 ? 'cover' : ''">

          <span class="playerCardName">{{item.name}}</span>
          <div class="playerCardVs">
            @if(item.vsPitcher.avg)  {<div class="playerVs">
              <span>vs Pitcher</span>
              <span>{{item.vsPitcher.avg}}</span>
              <span>{{item.vsPitcher.games}}</span>
              <span>{{item.vsPitcher.Hits}}</span>
              <span>{{item.vsPitcher.strikeOut}}</span>
              <span>{{item.vsPitcher.baseXBola}}</span>
            </div>}
            <div class="playerVs">
              <span>vs Perfil</span>
              <span>{{item.vsPitcherThrow.avg}}</span>
              <span>{{item.vsPitcherThrow.games}}</span>
              <span>{{item.vsPitcherThrow.Hits}}</span>
              <span>{{item.vsPitcherThrow.strikeOut}}</span>
              <span>{{item.vsPitcherThrow.baseXBola}}</span>
            </div>
          </div>
          </div>}

      }
    </div>
  </div>
</div>}
}

}
