/* You can add global styles to this file, and also import other style files */
*, ::after, ::before{
  margin: 0;
  box-sizing: border-box;
}  


body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  background-size: cover;
  background-color: #024A3E;
  color: #A1BB94;
  margin: 0;
}
h1 {
  font-size: 2.5rem;
  color: #333;
}
