/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #024A3E;
  color: #A1BB94;
}
h1 {
  font-size: 2.5rem;
  color: #333;
}
