<div class="horizontal-scroll-wrapper-web">
  <div class="oddsCard">
    <span>Hits</span>
    <div class="gamesWrapper">
      <span>{{ games.game1.hits}}</span>
      <span>{{ games.game2.hits2}}</span>
      <span>{{ games.game3.hits3}}</span>
      <span>{{ games.game4.hits4}}</span>
      <span>{{ games.game5.hits5}}</span>
    </div>
  </div>

  <div class="oddsCard">
    <span>Runs</span>
    <div class="gamesWrapper">
      <span>{{ games.game1.runs}}</span>
      <span>{{ games.game2.runs2}}</span>
      <span>{{ games.game3.runs3}}</span>
      <span>{{ games.game4.runs4}}</span>
      <span>{{ games.game5.runs5}}</span>
    </div>
  </div>
  <div class="oddsCard">
    <span>RBI</span>
    <div class="gamesWrapper">
      <span>{{ games.game1.runsBattedIn}}</span>
      <span>{{ games.game2.runsBattedIn2}}</span>
      <span>{{ games.game3.runsBattedIn3}}</span>
      <span>{{ games.game4.runsBattedIn4}}</span>
      <span>{{ games.game5.runsBattedIn5}}</span>
    </div>
  </div>

  <div class="oddsCard">
    <span>Homerun</span>
    <div class="gamesWrapper">
      <span>{{ games.game1.homeRun}}</span>
      <span>{{ games.game2.homeRun2}}</span>
      <span>{{ games.game3.homeRun3}}</span>
      <span>{{ games.game4.homeRun4}}</span>
      <span>{{ games.game5.homeRun5}}</span>
    </div>
  </div>
  <div class="oddsCard">
    <span>Walk</span>
    <div class="gamesWrapper">
      <span>{{ games.game1.baseXBola}}</span>
      <span>{{ games.game2.baseXBola2}}</span>
      <span>{{ games.game3.baseXBola3}}</span>
      <span>{{ games.game4.baseXBola4}}</span>
      <span>{{ games.game5.baseXBola5}}</span>
    </div>
  </div>
  <div class="oddsCard">
    <span>StrikeOuts</span>
    <div class="gamesWrapper">
      <span>{{ games.game1.strikeOuts}}</span>
      <span>{{ games.game2.strikeOuts2}}</span>
      <span>{{ games.game3.strikeOuts3}}</span>
      <span>{{ games.game4.strikeOuts4}}</span>
      <span>{{ games.game5.strikeOuts5}}</span>
    </div>
  </div>
</div>

