<div class="gamesCard">
  <span class="gameItem" [ngClass]="{'cover' : games?.game1 > line}" >{{ games?.game1}}</span>
  <span class="gameItem" [ngClass]="{'cover' : games?.game2 > line}">{{ games?.game2}}</span>
  <span class="gameItem" [ngClass]="{'cover' : games?.game3 > line}">{{ games?.game3}}</span>
  <span class="gameItem" [ngClass]="{'cover' : games?.game4 > line}">{{ games?.game4}}</span>
  <span class="gameItem" [ngClass]="{'cover' : games?.game5 > line}">{{ games?.game5}}</span>
</div>
